@charset "utf-8";
#container {
    font-size: 0.9rem;
}#menu {
    width: 200px;
    float: left;
}
#inhalt {
    width: calc(93% - 200px);
    float: right;
}
#aufloesung::after {
    content: "screenmin600"
}
