@charset "utf-8";
#container {
    font-size: 1.2rem;
}
#menu {
    width: 200px;
    float: left;
}
#inhalt {
    width: calc(95% - 200px);
    float: right;
}
#aufloesung::after {
    content: "screenmin1800"
}
